{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Video with markers</title>
    <meta name="description" content=""/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
    <link rel="stylesheet" href="{% static 'home/video-js.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/videojs.markers.min.css' %}"/>
    <script src="{% static 'home/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'home/video.min.js' %}"></script>
    <script src="{% static 'home/videojs-markers.min.js' %}"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Upload video</title>
  <style type="text/css">
  	body{
  		background-image: url("{% static 'home/cybersecurity.jfif' %} ");
  	}
  	.container{
  		 transform: translate(25%,40%);
  	}
  </style>
</head>

<body style="overflow-x: hidden;">
	<nav class="navbar navbar-dark bg-primary">
		<ul class="navbar-nav ml-auto">
    		<li class="nav-item active">
       {% if request.user.is_authenticated %}
        
				<a class="navbar-brand trigger-btn"  href="{% url 'home:logout' %}">Logout</a>
        {% else %}
				<a class="navbar-brand trigger-btn" data-toggle="modal" href="#myModal">Login</a>
        {% endif %}
			</li>
		</ul>
	</nav>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Sign In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'home:login' %}" method="post">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
          </div>
          {% csrf_token %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>     

{% if request.user.is_authenticated %}
  <div class="container">
  	<div id='trial'>
    <div class="row w-50 text-center">
      <div class="col">

        <div class="mb-3 mt-3">

          <h2 class="mb-3" style="color:white; font-weight: 300">Upload Video</h2>

          <div class="form-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file" id="file_input" oninput="input_filename();">
              <label id="file_input_label" class="custom-file-label" for="image">Select file</label>
            </div>
          </div>

          <button onclick="upload('/test2/');" id="upload_btn" class="btn btn-primary">Upload</button>

          <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
          </button>

          <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>

        </div>

        <div id="progress_wrapper" class="d-none">
          <label id="progress_status"></label>
          <div class="progress mb-3">
            <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div id="alert_wrapper"></div>

      </div>
    </div>
    <div id="vid">
       
    </div>
  {% else %}
    <center><h1 style="color:white">Login Required</h1></center>
  {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <!-- Import Bootstrap JavaScript here -->
  
  <script type="text/javascript" src="{% static 'home/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>